@import 'modules/_all.scss';

body {
	font: $phone-font;
}

section.content {
	padding: 6%;
}

nav#main {

	ul {
		display: none;

		li {
			width: 100%;
			text-align: center;
			padding: 5px 0px;

			a {
				font-size: 2em;
			}
		}
	}

	div.icon {
		display: block;
		color: #FFF;
		text-align: center;
		font-size: 2.5em;
		padding: 10px 0px;
		cursor: pointer;
	}
}

section.video-bg {
	padding: 0;

	.video-wrapper {

		video {
			min-height: 400px;
			height: 100%;
			width: auto;
		}
	}

	.content-wrapper {
		padding: 6%;
	}
}

section.contactform {

	form {
		width: 100%;
	}
}