html, body, ul, ol {
  margin: 0;
  padding: 0; }

.grid_50 {
  overflow: hidden; }
  .grid_50 .grid {
    width: 47.5%;
    float: left; }
    .grid_50 .grid:nth-child(odd) {
      padding-right: 2.5%; }
      @media screen and (max-width: 1024px) {
        .grid_50 .grid:nth-child(odd) {
          padding-right: 0; } }
    .grid_50 .grid:nth-child(even) {
      padding-left: 2.5%; }
      @media screen and (max-width: 1024px) {
        .grid_50 .grid:nth-child(even) {
          padding-left: 0;
          padding-top: 2%; } }
    @media screen and (max-width: 1024px) {
      .grid_50 .grid {
        width: 100%;
        float: none; } }

.grid_33 {
  overflow: hidden; }
  .grid_33 .grid {
    width: 30%;
    float: left; }
    .grid_33 .grid:nth-child(odd) {
      padding-right: 2.5%; }
      @media screen and (max-width: 1024px) {
        .grid_33 .grid:nth-child(odd) {
          padding-right: 0; } }
    .grid_33 .grid:nth-child(even) {
      padding-left: 2.5%;
      padding-right: 2.5%; }
      @media screen and (max-width: 1024px) {
        .grid_33 .grid:nth-child(even) {
          padding-left: 0;
          padding-top: 2%; } }
    .grid_33 .grid:last-child {
      padding-left: 2.5%;
      padding-right: 0; }
      @media screen and (max-width: 1024px) {
        .grid_33 .grid:last-child {
          padding-left: 0;
          padding-top: 2%; } }
    @media screen and (max-width: 1024px) {
      .grid_33 .grid {
        width: 100%;
        float: none; } }

form input[type="text"], form input[type="email"], form input[type="password"] {
  padding: 10px;
  border: 2px solid #000;
  background-color: #CCC;
  color: #222;
  font-size: 1.3em; }
form input[type="submit"] {
  border: 2px solid #000;
  background-color: #555;
  color: #FFF;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5em; }
form .pretty-checkbox {
  width: 16px;
  height: 16px;
  position: relative;
  border: 2px solid #000;
  background: #CCC;
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%); }
  form .pretty-checkbox label {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0px;
    left: 0px;
    cursor: pointer;
    background: linear-gradient(top, #222 0%, #45484d 100%); }
    form .pretty-checkbox label:after {
      content: '';
      width: 14px;
      height: 14px;
      position: absolute;
      top: 1px;
      left: 1px;
      background: #222;
      background: linear-gradient(top, #222 0%, #FFF 100%);
      opacity: 0; }
    form .pretty-checkbox label:hover::after {
      opacity: 0.3; }
  form .pretty-checkbox input[type=checkbox] {
    visibility: hidden; }
    form .pretty-checkbox input[type=checkbox]:checked + label:after {
      opacity: 1; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?vackk7");
  src: url("../fonts/icomoon.eot?vackk7#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?vackk7") format("truetype"), url("../fonts/icomoon.woff?vackk7") format("woff"), url("../fonts/icomoon.svg?vackk7#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-menu:before {
  content: "\e9bd"; }

.icon-cross:before {
  content: "\ea0f"; }

.icon-circle-up:before {
  content: "\ea41"; }

html, body {
  font: 1em/1.5 Verdana;
  background-color: #BBB; }

#page {
  max-width: 1920px;
  margin: 0 auto; }

a#disrupter {
  display: block;
  position: absolute;
  top: 0;
  right: 10%;
  z-index: 1;
  width: 100px;
  height: 80px;
  transition: height 0.25s ease;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 0px 10px 5px #CCC;
  background-color: #AAA;
  color: #000;
  font-weight: bold;
  cursor: pointer; }
  a#disrupter:hover {
    box-shadow: 0px 0px 10px 10px #EEE;
    height: 100px;
    transition: height 0.25s ease; }
  a#disrupter span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    text-align: center; }

section {
  clear: left; }

section.carousel {
  margin: 0 auto;
  background-color: #DDD; }
  section.carousel.slick-dotted.slick-slider {
    margin-bottom: 0; }
  section.carousel .slick-prev {
    left: 1%;
    z-index: 1; }
  section.carousel .slick-next {
    right: 1%;
    z-index: 1; }
  section.carousel .slick-dots {
    bottom: 1.5%; }
  section.carousel .item {
    position: relative;
    min-height: 300px;
    margin-bottom: 36px; }
    section.carousel .item.item-bg {
      background-repeat: repeat;
      background-size: contain;
      background-position: center; }
    section.carousel .item .content-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80%; }
    section.carousel .item .content-video {
      position: relative;
      padding-bottom: 36.25%; }
      section.carousel .item .content-video iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        min-height: 300px; }
    section.carousel .item .content > picture img {
      width: 100%; }

nav#main {
  position: relative;
  background-color: #333;
  box-shadow: 0px 5px 15px 5px #333333;
  z-index: 1; }
  nav#main ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 6px 0px 0px 0px; }
    nav#main ul li {
      display: inline-block; }
      nav#main ul li a {
        display: block;
        padding: 10px 18px;
        color: #FFF;
        text-decoration: none; }
        nav#main ul li a:hover {
          text-decoration: underline; }
  nav#main div.icon-menu {
    display: none; }
  nav#main.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2; }
  nav#main nav#sub {
    position: absolute;
    background-color: #333;
    z-index: 1;
    padding-bottom: 30px; }
    nav#main nav#sub.hidden {
      display: none; }
    nav#main nav#sub.box-shadow {
      box-shadow: 0px 5px 15px 5px #333333; }
    nav#main nav#sub .icon-circle-up {
      display: none;
      position: absolute;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      top: calc(100% - 8px);
      color: #FFF;
      cursor: pointer; }

section.content {
  padding: 2%;
  opacity: 1; }
  section.content.opacity-0 {
    opacity: 0; }
  section.content:nth-child(even) {
    background-color: #BBB; }
  section.content:nth-child(odd) {
    background-color: #B5B5B5; }
  section.content.in-view {
    opacity: 1;
    transition: opacity 0.7s ease; }
  section.content h2 {
    text-align: center;
    font-size: 2em; }
  section.content picture img {
    max-width: 100%;
    display: block;
    margin: 0 auto; }

section.video-bg {
  position: relative;
  padding: 0; }
  section.video-bg .video-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%; }
    section.video-bg .video-wrapper video {
      position: absolute;
      width: 100%;
      height: auto; }
  section.video-bg .content-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    z-index: 1; }

section.contactform form {
  width: 80%;
  margin: 0 auto;
  position: relative; }
  section.contactform form > div {
    position: relative;
    margin-bottom: 30px; }
    section.contactform form > div.submit {
      text-align: center; }
  section.contactform form input {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55%; }
    section.contactform form input[type="submit"] {
      float: none;
      width: auto;
      clear: both; }
  section.contactform form .pretty-checkbox-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 56.5%; }

/*# sourceMappingURL=styles.css.map */
