@import 'modules/_all.scss';

body {
	font: $tablet-font;
}

a#logo {
	width: 60px;
	height: 60px;
	font-size: 1em;
}

section.content {
	padding: 4%;
}

nav#main {

	ul {
		li {
			a {
				padding: 10px 12px;
				font-size: 1.1em;
			}
		}
	}
}

section.video-bg {
	padding: 0;

	.video-wrapper {
		overflow: hidden;

		video {
			min-height: 600px;
			height: 100%;
			width: auto;
		}
	}

	.content-wrapper {
		padding: 4%;
	}
}

section.contactform {

	form {
		width: 90%;

		> div {
			position: static;
			overflow: visible;

			&.checkbox-row {
				overflow: hidden;
			}
		}

		label {
			float: none;
			width: 100%;

			&[for="contact-form-terms"] {
				float: left;
				width: auto;
			}
		}

		input {
			@include normalize();
			width: 100%;
			box-sizing: border-box;

			&#contact-form-terms {
				float: left;
				width: auto;
				top: 8px;
				left: 5px;
			}
		}

		.pretty-checkbox-wrapper {
			@include normalize();
			float: left;
			margin-left: 10px;
		}
	}
}