@mixin flex($option:false) {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	@if $option == 'center' {
    	justify-content: center;
	}
}

@mixin centerXY() {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin centerX() {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

@mixin centerY() {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

@mixin normalize() {
	position: static;
	float: none;
	top: auto;
	left: auto;
	right: auto;
	bottom: auto;
	transform: none;
}

@mixin font-outline($thickness, $color, $blur:0px) {
	text-shadow:
		-#{$thickness} -#{$thickness} $blur $color,
		$thickness -#{$thickness} $blur $color,
		-#{$thickness} $thickness $blur $color,
		$thickness $thickness $blur $color; 
}