$page-max-width: 1920px;

$page-bg-color: #BBB;
$carousel-bg-color: #DDD;
$section-color-even: #BBB;
$section-color-odd: #B5B5B5;

$base-font-size: 1.5em;
$base-font-line-height: 1.5;
$base-font-family: Verdana;
$base-font: $base-font-size/$base-font-line-height $base-font-family;